<!DOCTYPE html>
<html lang="en">
<head>
<title>Travelfy</title> <!-- CHANGE THE WEBSITE TITLE-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style type="text/css">
      /* Set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }

      /* Makes the page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <!-- Google Maps get location from click -->
    <script src="/static/initMap.js"></script>

</head>

<body class="w3-container w3-auto">


    <div class="w3-panel w3-padding-large" style="background-color:rgb(239, 71, 111)"></br></div>

    <!-- The About Us Section -->
    <div id="about-us" class="w3-container w3-content w3-center w3-padding-24" style="max-width:800px">
        <h2 class="w3-wide">FormFigures</h2>
        <p class="w3-opacity"><i>Create and trade your own figure!</i></p>
        <p class="w3-justify"> What is a FormFigure? <br>
          FormFigure is your very own character that you can print and trade with others! Your FormFigure can be anything you want - animal, car, food, mineral?, etc... All the FormFigures and their stats will be tracked online [here] if you want to see what others have made!</p>
        <p class="w3-justify"> Type in your name below to see your collection!</p>
        </div>


    <br>
    <br>
    
    <!-- Search for your name/ownership -->
    <div class="">
      <!-- Search bar for countries -->
      <table class="w3-centered" width="100%">
        <tr>
            <td><input class="w3-border w3-button" type="text" id="mySearch" placeholder="Type Your Name" title="Type in a category"></td>
          </tr>
      </table>

      <button onclick=toggleSearch()>Search</button>
      <div>
        Your Name: 
        <span id="name"></span>
        
      </div>
      
    <!-- Display your figure -->
    <script>

      function toggleSearch() {
        //currSearch = getElementById("mySearch")
        var input = document.getElementById('mySearch').value;
        document.getElementById('name').innerHTML = input;
      }
    </script>
    
    <!-- Where to Start section -->
    <div class="w3-black" id="start">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Your Collection</h2>
      <p class="w3-opacity w3-center"><i>Check Out All Your FormFigures</i></p><br>

      <div id= "figureDisplaySpace" class="w3-row-padding w3-padding-2" style="margin:0 -10px">
        <div class="w3-third w3-margin-bottom">
          <img src="/static/dartDaFrog.png" alt="Panama" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Frog Name</b></p>
            <p class="w3-opacity">Owner: Brielle Chenier</p>
            <p>Date Printed: </p>
            <p># of Figures:</p>
            <button class="w3-button w3-text-white w3-margin-bottom" style="background-color:rgb(239, 71, 111)"><a href="https://www.notion.so/178d9d0c50894893bc8ebecb95b5990c?v=5ddde725f46346c9a29a14ceb5cee61f&p=4070428be3dd448095e542eb828442ee&pm=c">Learn More</a></button>
          </div>
        </div>
        
      </div>
    </div>
  </div>




  </div>
   
</body>
</html>